.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

#CharContainer {
  /* min-width: 310px;  */
  height: 550px;
  width: 550px;
  margin: 0% 1% auto 20%;
  float: left;
}

.UE {
  height: auto;
  margin: auto;
}

.formUE {
  width: 50%;
  margin: 0% auto;
}

.filtreAffichage>button{
  display: block;
  margin: 0% 0% 1% 0%;
}